{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}

<div class="container">

    
    <h1 class="mt-4">Liste des produits</h1>

    
    {% for produit in produits %}

    
    <div class="card mt-2">
    <div class="row">
{% if produit.filename %}
  <div class="col-md-6">
   <img src="/images/product/{{ produit.filename }}"style="width: 20%; height: auto;">
   </div>

       {%  endif %}
<div class="col-md-6">
    <h5 class="card-title mt-2">
         {{ produit.libelle }}
    <h5/>
    

    <a href="{{ path('produit_show', {'id': produit.id}) }}" class="card-link btn btn-primary">Détail du produit</a>
    <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="card-link btn btn-warning">Modifier le produit</a>
</div>
</div>
</div>

 {% endfor %}

    <a href="{{ path('produit_new') }}" class="btn btn-warning mt-2 mb-2">Ajouter un nouveau produit</a>
</div>
{% endblock %}
